{% extends "PGPlatformBundle::layout.html.twig" %}

{% block pgplatform_body %}

    <h2>Ajouter une commande</h2>

    {{ include("PGPlatformBundle:Command:form.html.twig") }}

    <p>
        Attention : cette annonce sera ajoutée directement
        sur la page d'accueil après validation du formulaire.
    </p>

{% endblock %}