<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="Pierre Ghazal">
    <link rel="icon" href="favicon.ico">
    <title>{% block title %}Blédor{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>

    {% block stylesheets %}
    {% endblock %}
</head>

<body>

{% include '::topnav.html.twig' %}

<div class="container">
    <div id="header" class="jumbotron">
        <h1>Blédor</h1>
        <p>
            Pour faciliter vos commandes.
        </p>
    </div>

    <div id="content" class="col-sm-12 main-content">
        {% block content %}
        {% endblock %}
        <hr>
    </div>
</div>

<div class="navbar-fixed-bottom">
    <div class="footer">
        <footer>
            Blédor © {{ 'now'|date('Y') }}
        </footer>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
