body {
    padding-top: 40px;
    padding-bottom: 40px;
}

/* Logo nav item */
.navbar-brand {
    height: 80px;
    display: flex;
    align-items: center;
}

.navbar-brand>img {
   margin-right: 10px;
    width: 30px;
    height: 30px;
}

.navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
}

/* END logo nav item */

/* Nav item */
.nav >li >a {
    padding-top: 30px;
    padding-bottom: 30px;
}

.container {
    margin-top: 40px;
}

.main-content {
    display: block;
    overflow: auto;
    padding: 16px;
    border-radius: 6px;
}

.footer {
    background-color: #eee;
    padding: 16px 16px;
    border-radius: 6px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 20px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control .input-group {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.input-group {
    margin-bottom: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.alert-notice {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}