{% extends "PGPlatformBundle::layout.html.twig" %}

{% block pgplatform_body %}

    <a href="{{ path('pg_platform_products') }}" class="btn btn-default">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Retour aux produits
    </a>

    <h2>Supprimer un produit</h2>

    <p>
        Etes-vous certain de vouloir supprimer le produit "{{ product.name }}" ?
    </p>

    <form action="{{ path('pg_platform_products_delete', {'id': product.id}) }}" method="post">
        <input type="submit" value="Supprimer" class="btn btn-danger"/>
        {{ form_rest(form) }}
    </form>

{% endblock %}